import React, { Component } from 'react';

class {{ properCase name }} extends Component {
  render() {
    return (
      <div>
      </div>
    );
  }
}

{{ properCase name }}.propTypes = {

};

export default {{ properCase name }};
